body {
   background-image: url(file:///home/training/Desktop/html/background.jpg);
}

.id{
   width: 360px;
   background-image: url(file:///home/training/Desktop/html/images2.jpg);
   position: relative;
   left: 35%;
   top: 20%;
}

.reg {
    width: 300px;
    background-image: url(file:///home/training/Desktop/html/up.jpeg);
    position: relative;
    left: 10%;
}

#img{
    position: relative;
    left: 30%;
    width: 110px;
    height: 110px;
}

#tab{
    position: relative;
    left: 20%;
}

input{
    border-radius: 30px;
    padding: 5px;
}