button{
    width: 90px;
    height: 50px;
    background-color: lightgreen;
}
#buttons{
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate( 3%,130%);        
}
#out{
    width: 480px;
    height: 580px;
    background-color: beige;
    position: relative;
    top:  110px;
    left: 35%;
    background-image: url(../signup/images2.jpg);
}
#int{
    width: 400px;
    height: 500px;
    background-color: aqua;
    position: relative;
    left: 8%;
    background-image: url(../signup/up.jpeg);

}
#frame{
    position: relative;
    top: 50px;
    left: 3%;
    background-color: lightblue;
    width: 93%;
    height: 180px;
    border: 1px solid black;
}
body {
    background-image: url(../signup/background.jpg);
 }

